{% extends 'base.html' %}
{% block title %}My Return Requests{% endblock %}

{% block body %}
<div class="max-w-4xl mx-auto px-4 py-10">
    <div class="flex justify-between ">
  <h2 class="text-2xl font-bold mb-6">📋 Your Return Requests</h2>

<a href="{% url 'create_return_request' %}" >
   <button  class="py-2 mb-5 px-3 bg-black text-white rounded-md"> Create return Request</button>
</a>

    </div>

  {% if requests %}
    <ul class="space-y-4">
      {% for req in requests %}
        <li class="bg-white p-4 rounded shadow">
          <strong>{{ req.order_item.product.name }}</strong><br/>
          <small>Submitted: {{ req.created_at|date:"d M Y" }}</small><br/>
          <small>Pickup: {{ req.pickup_date }}</small><br/>
          <p class="text-sm mt-2 text-gray-600">Reason: {{ req.reason }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No return requests found.</p>
  {% endif %}
</div>


{% endblock %}


